/* Write your code here */
.not-found-container {
  background-color: #181818;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.not-found-image {
  width: 300px;
}

.home-button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
}